* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* //1rem=10px, 10px/16px= 62.5% */
}

:root {
  --primary-color: #a21caf;
  --backgroundColor: #ecd2ef;
  --dark-grey: #404040;
  --color-light-gray: #f3f4f6;
  --card-backColor: #fff;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  /* // background-color: var(--backgroundColor); */
  color: var(--dark-grey);
}

/* Styling nav bar. */

.navigation {
  color: white;
  background-color: #a21caf;

  padding: 2rem;
  border-bottom-left-radius: 2rem;
}
.forUpside {
  display: inline-block;
  margin-top: 1px;
}
.navigation .nav-brand {
  font-weight: bold;
  font-size: 2rem;
}
.navigation .link-active {
  font-weight: bold;
}
.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold; /*  check if you find any mistake in future */
}
.navigation a:hover {
  color: var(--dark-grey);
}
.navigation ul {
  font-size: 1.5rem;
  list-style: none;
  text-align: right;
}
.navigation li {
  display: inline-block;
  padding: 0rem 0.5rem;
  padding-top: 1rem;
}
h1 {
  text-align: center;
}

footer {
  padding-top: 4rem;
  /* background-color: #eef2ff; */

  text-align: center;
  padding-bottom: 3rem;
  font-size: 1.5rem;
}
footer h2 {
  margin-bottom: 2.5rem;
  color: #404040;
}

footer ul li {
  display: inline;
  padding-right: 1.5rem;
}
footer ul li a {
  text-decoration: none;
  font-weight: bold;
}
