* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* //1rem=10px, 10px/16px= 62.5% */
}

:root {
  --primary-color: #a21caf;
  --backgroundColor: #ecd2ef;
  --dark-grey: #404040;
  --color-light-gray: #f3f4f6;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  /* // background-color: var(--backgroundColor); */
  color: var(--dark-grey);
}

/* Styling nav bar. */

.navigation {
  color: white;
  background-color: #a21caf;

  padding: 2rem;
  border-bottom-left-radius: 2rem;
}
.forUpside {
  display: inline-block;
  margin-top: 1px;
}
.navigation .nav-brand {
  font-weight: bold;
  font-size: 2rem;
}
.navigation .link-active {
  font-weight: bold;
}
.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold; /*  check if you find any mistake in future */
}
.navigation a:hover {
  color: var(--dark-grey);
}
.navigation ul {
  font-size: 1.5rem;
  list-style: none;
  text-align: right;
}
.navigation li {
  display: inline-block;
  padding: 0rem 0.5rem;
  padding-top: 1rem;
}
/* Header start. */
.header {
  display: block;
  padding: 2rem;
  padding-top: 4rem;
}
.header-heading {
  padding-bottom: 4rem;
}
.header .header-img {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.header .header-heading {
  color: var(--dark-grey);
  padding-top: 5rem;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.header .heading-inverted {
  color: var(--primary-color);
}

/* project */

.section-non-white {
  background-color: var(--color-light-gray);
}
.section {
  padding: 2rem;
  text-align: center;
}
.container-center {
  margin: auto;
  max-width: 60rem;
}
.container {
  padding: 0 1rem;
}
.high-light {
  color: var(--primary-color);
}
.container h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  padding-bottom: 3rem;
}
.container small {
  font-size: 1rem;
  padding-bottom: 2rem;
}
.container p {
  padding-top: 2rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.button-center {
  display: grid;
  grid-template-columns: repeat(2, minmax(9rem, 14rem));
  gap: 1.5rem;
  margin-top: 4rem;
  justify-content: center;
}

.link-primary {
  max-width: 14rem;
  padding: 0.9rem 1.2rem;
  margin: 2rem auto;
  color: #fff;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  font-size: 1.7rem;
  text-decoration: none;
}
.link-secondary {
  max-width: 14rem;
  padding: 0.9rem 1.2rem;
  margin: 2rem auto;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  font-size: 1.7rem;
  text-decoration: none;
}

/* Footer start. */
footer {
  padding-top: 4rem;
  /* background-color: #eef2ff; */
  text-align: center;
  padding-bottom: 3rem;
  font-size: 1.5rem;
}
footer h2 {
  margin-bottom: 2.5rem;
}

footer ul li {
  display: inline;
  padding-right: 1.5rem;
}
footer ul li a {
  text-decoration: none;
  font-weight: bold;
}
